:root {
  --card: #ffffff;
  --ring: #aff33e;
  --input: #e2e8f0;
  --muted: #f1f5f9;
  --accent: #f0fdf4;
  --border: #e2e8f0;
  --radius: 1rem;
  --chart-1: #aff33e;
  --chart-2: #334155;
  --chart-3: #22c55e;
  --chart-4: #64748b;
  --chart-5: #94a3b8;
  --popover: #ffffff;
  --primary: #aff33e;
  --sidebar: #ffffff;
  --spacing: 0.25rem;
  --font-mono: JetBrains Mono, monospace;
  --font-sans: Inter, system-ui, sans-serif;
  --secondary: #334155;
  --background: #fbfcf8;
  --font-serif: Georgia, serif;
  --foreground: #0f172a;
  --destructive: #ef4444;
  --shadow-blur: 20px;
  --shadow-color: #000000;
  --sidebar-ring: #aff33e;
  --shadow-spread: 0px;
  --letter-spacing: -0.01em;
  --shadow-opacity: 0.05;
  --sidebar-accent: #f8fafc;
  --sidebar-border: #f1f5f9;
  --card-foreground: #0f172a;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 8px;
  --sidebar-primary: #aff33e;
  --muted-foreground: #64748b;
  --accent-foreground: #166534;
  --popover-foreground: #0f172a;
  --primary-foreground: #000000;
  --sidebar-foreground: #0f172a;
  --secondary-foreground: #f8fafc;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-primary-foreground: #000000;

  --text: var(--foreground);
  --text-h: var(--card-foreground);
  --bg: var(--background);
  --code-bg: var(--muted);

  font: 18px/145% var(--font-sans);
  letter-spacing: var(--letter-spacing);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.dark {
  --card: #0f172a;
  --ring: #aff33e;
  --input: #1e293b;
  --muted: #1e293b;
  --accent: #14532d;
  --border: #1e293b;
  --radius: 1rem;
  --chart-1: #aff33e;
  --chart-2: #3b82f6;
  --chart-3: #22c55e;
  --chart-4: #a855f7;
  --chart-5: #f59e0b;
  --popover: #0f172a;
  --primary: #aff33e;
  --sidebar: #020617;
  --spacing: 0.25rem;
  --font-mono: JetBrains Mono, monospace;
  --font-sans: Inter, system-ui, sans-serif;
  --secondary: #1e293b;
  --background: #020617;
  --font-serif: Georgia, serif;
  --foreground: #f8fafc;
  --destructive: #991b1b;
  --shadow-blur: 25px;
  --shadow-color: #000000;
  --sidebar-ring: #aff33e;
  --shadow-spread: 0px;
  --letter-spacing: -0.01em;
  --shadow-opacity: 0.4;
  --sidebar-accent: #1e293b;
  --sidebar-border: #1e293b;
  --card-foreground: #f8fafc;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 10px;
  --sidebar-primary: #aff33e;
  --muted-foreground: #94a3b8;
  --accent-foreground: #aff33e;
  --popover-foreground: #f8fafc;
  --primary-foreground: #000000;
  --sidebar-foreground: #f8fafc;
  --secondary-foreground: #f8fafc;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-primary-foreground: #000000;
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-sidebar: var(--sidebar);
  --color-spacing: var(--spacing);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-shadow-blur: var(--shadow-blur);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-shadow-spread: var(--shadow-spread);
  --color-letter-spacing: var(--letter-spacing);
  --color-shadow-opacity: var(--shadow-opacity);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-card-foreground: var(--card-foreground);
  --color-shadow-offset-x: var(--shadow-offset-x);
  --color-shadow-offset-y: var(--shadow-offset-y);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
